<div *ngIf="isLogged == true">
 <!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary float-right m-2"
  data-toggle="modal"
  data-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static"
  data-keyboard="false"
>
  Add Reservation
</button>

<button (click)="clearclick()" class="btn btn-primary float-right m-2">
  Reset
</button>

<input
type="text"
class="float-left m-3"
placeholder="Search for Reservation Id"
[(ngModel)] = "searchText"
/>


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ Modaltitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-res
          [reservation]="reservation"
          *ngIf="ActivateAddEditReservation"
        >
        </app-add-edit-res>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table text-light">
    <tr>
      <th>Reservation Id</th>
      <th>Resevation Check In</th>
      <th>Resevation Check Out</th>
      <th>Reservation No of Guests</th>
      <th>Reservation Status</th>
      <th>Guest Id</th>
      <th>Room Id</th>
    </tr>

    <tr *ngFor="let Dataitem of ReservationList | filter:searchText">
      <td>{{ Dataitem.Reservation_Id }}</td>
      <td>{{ Dataitem.Resevation_Check_In }}</td>
      <td>{{ Dataitem.Resevation_Check_Out }}</td>
      <td>{{ Dataitem.Reservation_No_of_Guests }}</td>
      <td *ngIf="Dataitem.Reservation_Status==true">Confirmed</td>
      <td *ngIf="Dataitem.Reservation_Status==false">Cancelled</td>
      <td>{{ Dataitem.Guest_Id }}</td>
      <td>{{ Dataitem.Room_Id }}</td>

      <td>
        <button
          type="button"
          class="btn btn-dark mr-1"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="editClick(Dataitem)"
          data-backdrop="static"
          data-keyboard="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-dark mr-1"
          (click)="deleteClick(Dataitem)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
            />
          </svg>
        </button>
      </td>
      <td>
        <button *ngIf="isAuthorized == true" (click)="BillClick(Dataitem)" class ="rounded leading-none font-bold">
          Generate Bill
        </button>
      </td>
    </tr>
  </table>
</div>
</div>
