<!-- <app-login></app-login> -->
<div class="suvam">
  <router-outlet></router-outlet>
  
</div>
<app-footer></app-footer>


<!-- <app-owner></app-owner> -->
<!-- <app-manager></app-manager> -->
<!-- <app-receptionists></app-receptionists> -->
<!-- <div class="blocked">
  <div class="container">
    <h3 class="d-flex justify-content-center">Hotel Management System</h3>
  
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button
            routerLink="room"
            class="m-1 btn btn-light btn-outline-primary"
            Button>
            Rooms
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="booked-rooms"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            Booked Rooms
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="unbooked-rooms"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            Unbooked Rooms
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="guests"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            Guests
          </button>
        </li>
  
        <li class="nav-item">
          <button
            routerLink="bill"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            Bill
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="reservation"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            Reservations
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="pay"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            Payment Details
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="employee"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            All Employees
          </button>
        </li>
        <li class="nav-item">
          <button
            routerLink="receptionist"
            class="m-1 btn btn-light btn-outline-primary"
            Button
          >
            All Receptionist
          </button>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div> -->
