<div
  *ngIf="alert"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Success</strong> Data Submited.
</div>

<div
  *ngIf="alerterror"
  class="alert alert-danger alert-danger fade show"
  role="alert"
>
  <strong>Data Not Submited</strong><br />
  Please Check your input
</div>

<!-- <div
  *ngIf="alert_authorize"
  class="alert alert-danger alert-danger fade show"
  role="alert"
>
  <strong>Not Authorized </strong> {{ error }}
</div> -->


<div class="form-froup row">
  <label class="col-sm-2 col-form-label">Guest Id</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="Guest_Id"
      placeholder="Enter Guest Id"
    />
  </div>

  <label class="col-sm-2 col-form-label">Reservation Id</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="Reservation_Id"
      placeholder="Enter Reservation Id"
    />
  </div>

  <label *ngIf = "Bill_Amount" class="col-sm-2 col-form-label">Bill Amount</label>
  <div *ngIf = "Bill_Amount" class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="Bill_Amount"
      placeholder="Enter Bill Amount( use at time of updating )"
    />
  </div>

  <button (click)="addBill()" *ngIf="bill.Bill_Id == 0" class="btn btn-primary">
    Add
  </button>

  <button
    (click)="updateBill()"
    *ngIf="bill.Bill_Id != 0"
    class="btn btn-primary"
  >
    Update
  </button>
</div>
